@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
 

  font-family: 'Bubblegum Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width: 100%;
  max-height: 100vh;
  height: auto;
  display: grid;
  grid-template-areas:
  "header"
  "container"
  "container"
  "container"
  "footer";
  justify-content: center;
  overflow-x: hidden;
}

